*{
    box-sizing: border-box;
}
.cont{
    border: 1px solid black;
    position: absolute;
    top: 180px;
    left: 400px;
    height: 200px;
    width: 400px;
    text-align: center;
}
button{
    
margin-top: 50px;
}