*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.calc{ 
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px;
    gap: 20px;
    box-shadow: inset 5px 5px 12px gray,
                5px 5px 12px gray;
    border-radius: 10px;
}
.calc input{
    text-align: end;
    grid-column: 1/5;
    height: 80px;
    font-size: 20px;
}
.equal{
    grid-column: 3/5;
}
button{
    font-size: 15px;
    border-radius: 15px;
    transform: scale(1.2);
    border: none;
    margin: 3px;
    padding: 13px;
    background-color: rgb(155, 184, 184);
    box-shadow: 1px 1px 3px 1px gray; 
}
